@model BTLW_BDT.ViewModels.ProductDetailViewModel

<div class="row">
    <div class="col-md-6">
        @if (string.IsNullOrEmpty(Context.Session.GetString("Username")))
        {
            <div class="alert alert-warning">
                <i class="fas fa-exclamation-circle"></i>
                Vui lòng <a href="@Url.Action("Login", "Access")">đăng nhập</a> để đánh giá sản phẩm.
            </div>
        }
        else
        {
            <div id="reviewFormContainer">
                <!-- Form đánh giá sẽ được load động -->
            </div>
        }
    </div>
    <div class="col-md-12">
        <div id="reviewsContainer">
            <!-- Danh sách đánh giá sẽ được load động -->
        </div>
    </div>
</div> 